div{
	background: #343d46;
}
.search1{
	width: 300px;
	vertical-align: middle;
	white-space: nowrap;
	position: relative;
	
}
.search1 input#search{
	width: 300px;
	height:50px;
	background: white;
	boder: none;
	font-size:10pt;
	float: left;
	color: #262626;
	padding-left: 45px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: black;
}
.search1 input#search::-webkit-input-placeholder{
	color: #65737e;
}
.search1 input#search:-moz-placeholder {
	color: #65737e;
}
.search1 input#search::-moz-placeholder {
	color: #65737e;
}
.search1 input#search:-ms-input-placeholder {
	color: #65737e;
}
.search1 input#search:focus, .search-1 input#search:active{
	outline:none;
}
.search1 .icon{
	position: absolute;
	top: 50%;
	margin-left: 17px;
	margin-top: 17px;
	z-index: 1;
	color: #4f5b66;
	
	-webkit-transition: all .55s ease;
	-moz-transition: all .55s ease;
	-ms-transition: all .55s ease;
	-o-transition: all .55s ease;
	transition: all .55s ease;
}
.search1:hover .icon{
	margin-top: 16px;
	color: #93a2ad;
	-webkit-transform:scale(1.5);
        -moz-transform:scale(1.5);
        -ms-transform:scale(1.5);
        -o-transform:scale(1.5);
        transform:scale(1.5);
}
.btn1{
	width:100%;
	height:100%;
}
[data-tooltip-text]:hover {
	position: relative;
}
[data-tooltip-text]:after {
	-webkit-transition: bottom .3s ease-in-out, opacity .3s ease-in-out;
	-moz-transition: bottom .3s ease-in-out, opacity .3s ease-in-out;
	transition: bottom .3s ease-in-out, opacity .3s ease-in-out;

	background-color: rgba(0, 0, 0, 0.8);

  -webkit-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
	-moz-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
	box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
	
  -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
        color: #FFFFFF;
	font-size: 12px;
	margin-bottom: 10px;
	padding: 5px 10px;
	position: absolute;
	width: auto;
	min-width: 60px;
	max-width: 300px;
	word-wrap: break-word;
	text-align:center;
	z-index: 5;
	display:grid;
	opacity: 0;
	left: -9999px;
        top: 90%;
	content: attr(data-tooltip-text);
}

[data-tooltip-text]:hover:after {
	display:grid;
	top: 120%;
	left: 0;
	opacity: 1;
}
