.all_btn{
	border:none;
	font-size:12pt;
	width:50px;
	height:30px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
}
.another_btn{
	border:none;
	margin-left:-5px;
	font-size:12pt;
	width:50px;
	height:30px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
}
.btn_group button{
	border: none;
	background-color:grey;
	color:white;
}
.btn_group button:hover{
	color:white;
	background-color:black;
}
.btn_group_i img{
	border: none;
	background-color:grey;
	color:white;
	
}
.btn_group_i img:hover{
	color:white;
	background-color:black;
}
.save_btn{
	margin-left:10px;
	font-size:12pt;
	width:100px;
	height:50px;
	-webkit-border-radius:7px;
	-moz-border-radius:7px;
}
.reset_btn{
	margin-left:10px;
	font-size:12pt;
	width:100px;
	height:50px;
	-webkit-border-radius:7px;
	-moz-border-radius:7px;
}
.btn button{
	border: none;
	background-color:silver;
	color:black;
	padding:5px;
}
.btn button:hover{
	border: none;
	color:white;
	background-color:lightgreen;
}
.btna button{
	border: none;
	background-color:silver;
	color:black;
	padding:5px;
}
.btna button:hover{
	border:none;
	color:white;
	background-color:red;
}

.btn_img1{
	width:45px;
	height:45px;
	font-size:15pt;
	color:white;
	border:none;
	background-color:silver;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
}
.imgbtn1 {
	margin-left:-2px;
	border:none;
	background-color:silver;
	width:37px;
	height:37px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
}
.btn_img_c{
	width:38px;
	height:38px;
	font-size:15pt;
	color:white;
	border:none;
	background-color:silver;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
}
.imgbtn_c {
	margin-left:-5px;
	border:none;
	background-color:silver;
	width:41px;
	height:41px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
}
.btn_t{
	font-size:20pt;
	color:white;
	width:100%;
	height:100%;
	background-color:silver;
	-webkit-border-radius:7px;
	-moz-border-radius:7px;
}
.btm_t button{
	border: none;
	background-color:silver;
	color:black;
	padding:5px;
}
.btm_t button:hover{
	border: none;
	color:white;
	background-color:black;
}
.item_img{
	width:35px;
	height:35px;
	font-size:15pt;
	color:white;
	border:none;
	background-color:silver;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
}
.itembtn {
	margin-left:-5px;
	border:none;
	background-color:silver;
	width:35px;
	height:35px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
}
.btn1{
	width:112px;
	height:70px;
	background-color:silver;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
}
