/* UI Object */
.v_graph{padding:20px 0}
.v_graph ul{height:200px;margin:0;padding:0;border:1px solid #ddd;border-top:0;border-right:0;font-size:11px;font-family:Tahoma, Geneva, sans-serif;list-style:none}
.v_graph ul:after{display:block;clear:both;content:""}
.v_graph li{display:inline;float:left;position:relative;width:8%;height:100%;margin:0 3%;text-align:center;white-space:nowrap}
.v_graph .g_term{display:inline-block;position:relative;width:100%;height:20px;margin:0 -100% -20px 0;padding:200px 0 0 0;font-weight:bold;color:#767676;line-height:20px;vertical-align:bottom}
.v_graph .g_bar{display:inline-block;position:relative;width:100%;margin:-1px 0 0 0;border:1px solid #ccc;border-bottom:0;background:#e9e9e9;vertical-align:bottom}
.v_graph .g_bar span{position:absolute;top:-20px;left:0;width:100%;color:#767676}
/* //UI Object */

